body {
	background-color: black;
}
#app-name {
	margin-bottom: 0;
	justify-content: space-between;
}
#app-name div {
	width: auto;
}
.lcars-app-container #container {
	margin-top: 1em;
	margin-left: 2em;
	margin-right: 1em;
}
blockquote {
	background-color: #202020;
	padding: 2em;
}
.screenshot {
	margin-top: 1em;
	width: 80%;
}
.screenshot img {
	object-fit: cover;
	width: 100%;
	height: auto;
}
.screenshot .lcars-bracket.top {
	text-align: center;
}
.screenshot .lcars-text-box {
	width: auto;
}